@charset "UTF-8";
@media screen, projection {
    #mainnav em,
    #mainnav strong,
    .image_list.team {zoom: 1;}
    .team .item {margin-bottom:2.9em;}
    .image_list.team {padding-bottom: 4em;}

}
